body{
background-image: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}
.head{
    background: linear-gradient( rgb(47, 71, 79) , rgb(159, 188, 198));
    align-items: center;
    position:fixed;
    width: 100%;
    z-index: 11;
  }
button {
    font-family: 'Libre Baskerville', serif;
    color: white;
    height: 50px;
    border-radius: 6px;
    border: none;
    font-size: 1.2rem;
    padding: 0px 30px;
    margin-left: 1261px;
  }
button:hover {
    background-color: rgb(41, 114, 240);
    box-shadow: 0 0 9px rgba(36, 38, 42, 0.93);
  }
.card-row {
    display: inline-block;
    width: 50%;
  }
  
.row {
    margin-right: 9.8px !important;
  
  }
.container{
    padding-top: 130px;
  }
.bagCo {
    background-color: rgba(59, 151, 151, 0.85);
    width: 90%;
   box-shadow: 0 0 0 red !important;
    transition: transform 0.3s ease;
  }
.bagCo:hover{
    box-shadow: 0 0 12px rgb(178, 215, 248) !important;
    border: none;
    transform: scale(1.03);
  }